
#main-grid
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
        "headline headline picture"
        "quote quote picture"
        "profile profile contact"
        "experience experience experience";
    row-gap: 20px;
    column-gap: 50px;
    align-items: center;
}

#headline 
{
    grid-area: headline;
}

#student-picture 
{
    grid-area: picture;
    text-align: center;
}

#student-quote 
{
    grid-area: quote;
}

#student-profile 
{
    grid-area: profile;
}

#student-contact 
{
    grid-area: contact;
    text-align: center;
}

#main-grid > #experience-grid
{
    grid-area: experience;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        "code code"
        "database database"
        "web design";
    row-gap: 20px;
    column-gap: 50px;
}

#experience-code 
{
    grid-area: code;    
}

#experience-database 
{
    grid-area: database;
}

#experience-web 
{
    grid-area: web;
}

#experience-design 
{
    grid-area: design;
}

@media screen and (max-width: 1024px) 
{
    #main-grid 
    {
        gap: 35px;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
            "headline headline"
            "quote picture"
            "quote contact"
            "profile profile"
            "experience experience"
        ;

    }

    #main-grid > #experience-grid 
    {
        grid-template-areas: 
        "code web"
        "database design"
        ;
        row-gap: 20px;
        column-gap: 20px;
    }
}

@media screen and (max-width: 450px) 
{
    #main-grid 
    {
        
        grid-template-columns: 1fr;
        grid-template-areas: 
            "headline"
            "picture"
            "contact"
            "quote"
            "profile"
            "experience"
        ;

    }

    #main-grid > #experience-grid 
    {
        grid-template-columns: 1fr;
        grid-template-areas: 
        "code"
        "web"
        "database"
        "design"
        ;
        
    }
}

